{% extends 'myapp/myapp_base.html' %}
{% block title %}
UG Programes
{% endblock %}
{% block body_block %}
<div class="container bg-light">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 bg-primary">
                    <h3 class="text-white ml-2"><i class="fal fa-file-alt"></i> Undergraduate Programmes</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12 bg-secondary">
                    <h4>Bachelors Degrees <i class="fas fa-graduation-cap"></i></h4>
                </div>
            </div>
            <div class="row mt-3 mx-auto">
                <p>The Institute offers the following six undergraduate programmes leading B.Tech. degrees, which is of 4 years duration.</p>
            </div>           
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-10 mx-auto">
            <table class="table table-bordered" cellpadding="2" cellspacing="2">
                    <tbody>
                        <tr>
                            <td colspan="1" rowspan="2" style="width:58px"><strong>S. No.</strong></td>
                            <td colspan="1" rowspan="2" style="width:397px"><strong>Branch</strong></td>
                            <td colspan="2" rowspan="1" style="text-align:center; width:127px"><strong><span style="font-size:12.5pt">Approved Annual Intake</span></strong></td>
                        </tr>
                        <tr>
                            <td style="text-align:center; width:127px"><strong>Self -Financing Scheme (SFS)</strong></td>
                            <td style="width:127px">
                            <p style="text-align:center"><strong>Government Aided Seats (GAS)</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:58px">1.</td>
                            <td style="width:397px">Computer Science Engineering</td>
                            <td style="text-align:center; width:127px">30</td>
                            <td style="text-align:center; width:127px">-</td>
                        </tr>
                        <tr>
                            <td style="width:58px">2.</td>
                            <td style="width:397px">Information Technology</td>
                            <td style="text-align:center; width:127px">60</td>
                            <td style="text-align:center; width:127px">-</td>
                        </tr>
                        <tr>
                            <td style="width:58px">3.</td>
                            <td style="width:397px">Artificial Intelligence</td>
                            <td style="text-align:center; width:127px">20</td>
                            <td style="text-align:center; width:127px">20</td>
                        </tr>
                        <tr>
                            <td style="width:58px">4.</td>
                            <td style="width:397px">Agriculture Engineering</td>
                            <td style="text-align:center; width:127px">20</td>
                            <td style="text-align:center; width:127px">20</td>
                        </tr>
                        <tr>
                            <td style="width:58px">5.</td>
                            <td style="width:397px">Mechanical Engineering</td>
                            <td style="text-align:center; width:127px">60</td>
                            <td style="text-align:center; width:127px">-</td>
                        </tr>
                        <tr>
                            <td style="width:58px">6.</td>
                            <td style="width:397px">Civil Engineering</td>
                            <td style="text-align:center; width:127px">60</td>
                            <td style="text-align:center; width:127px">60</td>
                        </tr>
                        <tr>
                            <td style="width:58px">7.</td>
                            <td style="width:397px">Electronics &amp; Communication Engineering</td>
                            <td style="text-align:center; width:127px">30</td>
                            <td style="text-align:center; width:127px">-</td>
                        </tr>
                        <tr>
                            <td colspan="2" rowspan="1" style="text-align:right; width:58px"><strong>Total</strong></td>
                            <td style="text-align:center; width:127px">280</td>
                            <td style="text-align:center; width:127px">100</td>
                        </tr>
                    </tbody>
              </table>
        </div>
    </div>
</div>
{% endblock %}