{% extends 'myapp/myapp_base.html' %}
{% block title %}
Sports
{% endblock %}
{% block body_block %}
<div class="container bg-light">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 bg-primary">
                    <h3 class="text-white ml-2">SPORTS <i class="fas fa-volleyball-ball"></i></h3>
                </div>
            </div>
            <div class="row mt-3 mx-auto">
                <p>Physical recreation through games and sports has been an important part of the Institute since its
                    inception. Games like cricket, football, volleyball and basketball are the part of college
                    activities since its establishment years. Today, the Institute has the best facilities of basket
                    ball, tennis, table tennis, cricket and football. The tradition continues, as students of the
                    institute keep making use of the sports facilities to excel in sports and games. In order to
                    motivate the students and to get them interested in sports, an annual staff-student cricket match is
                    the integral part since its inception.</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 bg-secondary">
                    <h3 class="text-white ml-2">Outdoor Games</h3>
                </div>
                <ul>
                    <li>Badminton</li>
                    <li>Athletics</li>
                    <li>Tennis</li>
                    <li>Hockey</li>
                    <li>Cricket</li>
                    <li>Football</li>
                    <li>Basketball</li>
                    <li>Yoga</li>
                    <li>Volleyball</li>
                    <li>Kho Kho</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 bg-secondary">
                    <h3 class="text-white ml-2">Indoor Games</h3>
                </div>
                <ul>
                    <li>Table Tennis</li>
                    <li>Carrom</li>
                    <li>Chess</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 bg-secondary">
                    <h3 class="text-white ml-2">Achivements</h3>
                </div>
                <ul>
                    <li>We are Volleyball Champions at MNIT,Jaipur(2022)</li>
                    <li>We are basketball Champions at CTAE,Udaipur(2022)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}